# File types for plotting and storing images
*.fig
*.mat
*.bmp
*.png
*.jpg

# Files
/MachnineLearningSegmentation/AuxTesting.py

# Executables
*.exe

# Matlab images
*.asv
*.pyc

# Paths
**/Github
**/ThicknessEvaluation
**/RefractiveIndex
/MachnineLearningSegmentation/logs/*

# Machine Learning logs 
*.v2
*.profile-empty
*.trace
*.h5
*.json