# File types for plotting and storing images
*.fig
*.mat
*.bmp
*.png
*.jpg

# Executables
*.exe

# Matlab images
*.asv

# Paths
**/Github
**/ThicknessEvaluation
**/RefractiveIndex

# Machine Learning logs 
*.v2
*.profile-empty
*.trace
*.h5
*.json